
/*
BODY,H1,H2,H3 { 
	font-family: "Calligraph421 BT", sans-serif;
	color: rgb(0,102,00);
  	font-weight: 700;
}

BODY.texture {
   	background: url(images/magenta.jpg);
}

BODY.notexture {
   	background: rgb(255, 204, 255);
}
*/

.hideme {
   visibility:hidden;
}
